* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background: linear-gradient(#f483f2, #ad12f0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  padding: 0 calc(50vw - 520px);
}
.header__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #580060;
}
.header__descr {
  text-align: center;
}

.main {
  padding: 0 calc(50vw - 520px);
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  justify-content: center;
  gap: 60px;
}
.main__btns {
  text-align: center;
  padding: 10px 60px;
  background-color: #f9a7f3;
  color: #0c0c0c;
  border: 1px solid #0d0311;
}